## Visual Studio
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/

## .NET
.dotnet/
project.lock.json
project.fragment.lock.json
artifacts/

## OS Files
Thumbs.db
Desktop.ini
.DS_Store

## Environment files
.env
.env.*
! .env.example
appsettings.json
appsettings.Development.json
appsettings.Local.json
